---
import Head from "@components/Head.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import { SITE } from "@consts";

interface Props {
  title: string;
  description: string;
  image?: string;
  jsonLd?: Record<string, unknown> | Record<string, unknown>[] | null;
  lang?: string;
}
const { title, description, image, jsonLd = null, lang = "fi" } = Astro.props;
---

<!doctype html>
<html lang={lang}>
  <head>
    <Head title={`${title}`} description={description} image={image} jsonLd={jsonLd} />
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
    <script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "ab0939dedcc04c6fa58472608cd33d94"}'></script>
    <script defer src="https://app.rybbit.io/api/script.js" data-site-id="6f009de8f938"></script>
  </body>
</html>
